1)-> Database is architecture to used store the data in systamatic way and easy to redrive. Database having 2 category
a)sql
b)no-sql
sql is stand for structure query language and no-sql is stand for non structure query language.sql is useful for store structure data and nosql is used to store the non-structure data

2)-> DDL is stand for data defination language.In DDL consits four keywords create, show, drop, alter,Truncate.
1)Create:- It used for create database or table.
e.g:- create table if not exists employer(id int, name varchar(50), dept varchar(50));
2)show:- It used for show database and table.
e.g:- show databases;
3)Drop:- drop command it used for delete table and it's attribute.
e.g:- drop table employer;
4)Alter:- alter command perform multiple operation like change column name,modify data type,rename table,add new column.
alter table employer rename to new_employer;
5)Truncate command are used to delete value inside the table leaving row.
truncate table employer;

3)->DML is stand for data manipulation language.Inside DML command consists insert, update and delete command.
1)insert:- it used for insert record into table.
e.g:- insert into employer(id,name,dept) values(1,"Rohit","CSE"),(2,"Mohan","Mech");
2)update:- it used for update record present inside table with the help of set keyword.
e.g:- update table employer set name="Ram"
where id=1;
3)delete:- delete command it used for delete one or more record from table
e.g:- delete from employer where 
name="Ram";

4)->DOL is stand for data query language and it consists select command.
1)select command is used for redrive data from table.
e.g:- select *from employer;

5)->In structure query language present 6 types of constrains primery and foreign key is one of them.
1)Primary key:- if any column is primary key then never data is null in primary key column.
2)Foreign key:- it useful for join more than two table.

6)->Python code are connect with sql using following code.
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("create database college")
mydb.close()
1)excute() :- this function are used for write query in sql format.
2)cursor():- cursor it allows to perfrom operation on row and it hold row.

7)-> order clause is command in sql and it used to decide excution order and it consists two keywords
a)AESC:- By default.
b)DESC:-
e.g:- select *from employer order by id desc;